{% extends "saftstyle.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>About us</h2>
      <p class="lead">
      The team behind the SAFT-&gamma; Mie approach is based in the <a
         href="http://molecularsystemsengineering.org/">Molecular Systems
         Engineering</a> group at Imperial College London. This website
       originated from a collaboration with Åsmund Ervik at SINTEF Energy
       Research / the Norwegian University of Science and Technology (NTNU).
      
      <h3>Funding</h3>
      <p>
      We are very grateful for funding from the Engineering and Physical
      Sciences Research Council (EPSRC, grants EP/E016340, EP/J014958,
      EP/L020564), from the Research Council of Norway (grant 206976),
      and from industry partners Statoil, Petrobras and Wärtsilä Oil &amp;
      Gas Systems.
      </p>
      
      <h3>Contact</h3>
      <p>
      If you wish to contact us, please send an email to Åsmund (aaervik at
      gmail.com) and your request will be forwarded to the appropriate person in the group.
      </p>

      <h3>Source code</h3>
      <p>
      The source code to this webpage is fully open-source and available over at
      <a href="https://www.bitbucket.org/asmunder/saftflask">BitBucket</a>. The
      methodology is described in <a href="">an upcoming paper</a>.
      </p>
      
      <h3>Why all the fruit?</h3>
      <p>
      Åsmund is Norwegian, and saft in Norwegian means fruit juice.
      </p>
      </p>
    </div>
  </div>
</div>
{% endblock %}
