{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  <h2>A better model is available for this compound</h2>
    <p>
    <div class="col-md-8">
      <p class="lead">
      We have an improved model for {{ session['result_name'] }} ({{
      session['result_formula'] }}).
      </p>
      <p>
      Instead of the M&amp;M correlation result, use the
      parameters given in Table 1 of this paper:
      </p>
      <div class="col-md-12">
        <a href="http://dx.doi.org/10.1016/j.fluid.2015.07.014">[Link] (Open Access)</a>
        <p class="refs">
        Carmelo Herdes, Tim S. Totton and Erich A. Müller.<br>
        <i> Coarse grained force field
          for the molecular simulation of natural gases and condensates.</i><br>
        Fluid Phase Equilibria <b>406</b> pp. 91-100.
        </p>
      </div>
    </div>
    <div class="col-md-4">
    {% if session['result_img'] != "" %}
      <img src="{{ session['result_img'] }}"> 
    {% endif %} 
    </div>
  </p>
</div>
{% endblock %}
