{% extends "saftstyle.html" %}
{% set active_page = "bottlesearch" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Please enter the compound you want</h2>
      <p class="lead">
      Please provide one or more of these search terms. If you specify more than one,
      the CAS number will be tried first, then the name, and finally the
      formula.</p>
      {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 3, 9), button_map={'submit_button': 'primary'})}}
    </div>
  </div>
</div>
{% endblock %}
