{% extends "saftstyle.html" %}
{% set active_page = "custom" %}

{% block scripts %}
  {{super()}}
  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            placement : 'right',
            html:true
        });
    });
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Run the M&M correlation for your own compound</h2>
  <p class="lead">
  Input the data below. If you fill out the compound name and
  bibliographic reference, we will store your data.
  </p><p>
  The critical properties and the acentric factor are required. For the
  liquid density at T = 0.7 * Tc, you can either provide the value (best) or it
  can be estimated from a Rackett equation.
  </p>
  {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 3, 6), button_map={'submit_button': 'primary'})}}
</div>

{% endblock %}
