{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  <h2>Final results</h2>
  <p class="lead">
  These are the results for {{ session['custom_name'] }}. <br>
  The results were obtained with the liquid density {{ session['custom_imp_status'] }}.
   </p><p>
  The values you entered:
  {{ session['custom_header_html']|safe }}
  <br><br>
  The parameters available:
  {{ session['custom_param_html']|safe }}
</div>
{% endblock %}
