{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  </p><p>
  </p>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail" title="Image source: wikimedia commons">
        <div class="caption">
          <h1>404: page not found!</h1>
          <img src="static/404-banana.jpg">
          <p class="lead">
          You entered an address that does not exist. Check for typos, or start
          from the front page.
          </p>
        </div>
      </div>
    </div>

</div>
{% endblock %}
