{% extends "saftstyle.html" %}
{% set active_page = "heteronuclear" %}

{% block head %}
  {{ super() }}
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" href="static/ChemDoodleWeb.css" type="text/css">
  <link rel="stylesheet" href="static/uis/jquery-ui-1.10.3.custom.css" type="text/css">
  <script type="text/javascript" src="static/ChemDoodleWeb.js"></script>
  <script type="text/javascript" src="static/uis/ChemDoodleWeb-uis.js"></script>
  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Build your own heteronuclear model</h2>
  <div class="col-md-8">
    <p class="lead">
      This page is under construction.
    </p><p>
      For now, there is just a demo to get you the SMILES representation.

      <script type=text/javascript>
        ChemDoodle.ELEMENT['H'].jmolColor = 'black';
        ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
        var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300,{useServices:false, oneMolecule:true});
        sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
        sketcher.specs.atoms_useJMOLColors = true;
        sketcher.specs.bonds_clearOverlaps_2D = true;
        sketcher.repaint();
        $(function() {
          $('a#calculate').bind('click', function() {
            var mol = sketcher.getMolecule();
            var molFile = ChemDoodle.writeMOL(mol); 
            $.getJSON($SCRIPT_ROOT + '/_get_molecule', {
              molFile: molFile
            }, function(data) {
              $("#result").text(data.result);
            });
            return false;
          });
        });
      </script>
      <p><a href=# id=calculate class="btn btn-primary" role="button">Generate SMILES</a>
      <br>
      <span id=result class="result">?</span>
      </p>
      <br>
      <a href="http://web.chemdoodle.com" title="Open Source HTML5 Chemistry - ChemDoodle Web Components"><img src="http://web.chemdoodle.com/resources/images/badges/badge120x60.png" /></a>
  </div>
</div>
{% endblock %}
