{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  <h1>SAFT-&gamma; Mie, bottled</h1>
  <p class="lead">
  The SAFT-&gamma; Mie force field is a powerful approach to coarse-grained molecular
  dynamics: the parameters for the model of a substance are computed from its
  thermophysical properties, removing the need for tuning models to atomistic
  simulations. The theory also provides a corresponding equation of state.
  Here we make the power accessible to anyone. 
  </p>
  
  <div class="row top-buf4">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" title="Image source: www.frukt.no">
        <img src="static/bottle.jpg">
        <div class="caption">
          <h3>The bottle</h3>
          <p>
          "The bottle" is our collection of 6000+ molecules for which we have
          already computed the force field parameters. You can search by CAS
          number, name, or chemical formula.
          </p>
          <p><a href="bottlesearch" class="btn btn-primary" role="button">Search the bottle</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" title="Image source: wikimedia commons">
        <img src="static/saft-press.jpg">
        <div class="caption">
          <h3>Press your own</h3>
          <p>
          You can create your own model by providing critical properties for the
          compound you want to study. The M&amp;M correlation instantly gives
          you the force field parameters.
          </p>
          <p><a href="custom" class="btn btn-primary" role="button">Run your own
            compound</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" title="Image source: wikimedia commons">
        <img src="static/fruit-molecule.jpg">
        <div class="caption">
          <h3>Heteronuclear models</h3>
          <p>
          We're hoping to extend this such that you can draw the molecule you
          want. This feature is still work in progress, for now we just have
          a demo of the interface that gives you back the SMILES. 
          </p>
          <p><a href="heteronuclear" class="btn btn-primary" role="button">Build with the
            blocks</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-buf2">
    <div class="col-md-8">
      <h3>The theory</h3>
      <p class="theory">
      The SAFT-&gamma; Mie force field forms part of an established top-down coarse graining
      methodology that enables molecular dynamics simulations of a wide range of
      components in the vapor and liquid states [1].
      </p><p class="theory">
      This page produces the force field parameters for a given chemical component, based on
      the M&amp;M correlation [2] which has been applied to over 7800 compounds,
      using available critical data from Yaws' book of thermodynamical properties [3]. After filtering the results
      to ensure their consistency, we are left with over 6000 compounds.
      </p><p class="theory">
      As with all correlations there are caveats. Using the present data set, the
      biggest hurdle is that one of the inputs to the correlation, namely the 
      liquid density at T=0.7 Tc, is estimated using a Rackett-type equation. For
      increased accuracy the user is urged to input a better estimate for the
      liquid density. If the compound you are looking for is not in our database, you may "press"
      your own given the acentric factor and critical properties.
      </p><p class="theory">
      The parameters produced by this page are for homonuclear models, i.e. a given molecule is made up of <i>m</i>
      beads linked as on a pearl-necklace with all beads equal. Heteronuclear
      models may be constructed from a group-contribution approach [4]. However, extra
      care should be taken to validate such models, especially the
      cross-interactions between different segments. The Lafitte combination rules [5] provide
      a useful starting point for the
      cross-interactions parameters both for mixtures of compounds as well as for
      heteronuclear models. To test and tune the cross-interactions, there is no substitute for fitting to macroscopic
      thermodynamic properties. A set of links to reviews on the background SAFT equation of state, and recent
      papers on the application of the SAFT-&gamma; Mie force field can be found <a href="http://molecularsystemsengineering.org/saft.html">here</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h3>References</h3>
      <p class="refs">
      <a href="http://dx.doi.org/10.1146/annurev-chembioeng-061312-103314">[1]</a>
      Erich A. Müller and George Jackson. <i>Annu. Rev. Chem. Biomol. Eng.</i>
      <b>5</b> (2014): 405-427. <br>
      <a href="http://dx.doi.org/10.1021/ie404247e">[2]</a>     
      Andrés Mejía, Carmelo Herdes and Erich A. Müller. <i>Ind. Eng. Chem. Res.</i> <b>53.10</b> (2014). <br>
      [3] Carl L. Yaws. "Thermophysical properties of chemicals and hydrocarbons". William Andrew, 2008. <br>
      <a href="http://dx.doi.org/10.1063/1.4851455">[4]</a>
      Vasileios Papaioannou, Thomas Lafitte, Carlos Avendaño, Claire S. Adjiman,
      George Jackson, Erich A. Müller and Amparo Galindo. <i>J. Chem. Phys.</i> <b>140</b> (2014). <br> 
      <a href="http://dx.doi.org/10.1080/00268976.2012.662303">[5]</a>
      Thomas Lafitte, Anastasia Apostolakou, Carlos Avendaño, Amparo Galindo,
      Claire S. Adjiman, Erich A. Müller and George Jackson. <i>J. Chem. Phys.</i> <b>139</b> (2013). <br> 
      </p>
      <!-- Large modal for showing BibTeX -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Give me the BibTeX</button>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">References in BibTeX</h4>
            </div>
            <p><a href="static/SAFT-references.bib" class="btn btn-primary" role="button">Download file</a></p>
            <code><pre>
            {% include "SAFT-references.bib" %}
            </pre></code>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
