{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  <h2>Compound not found!</h2>
  <p class="lead">
  I'm sorry, we do not have data for the compound you searched for.
  </p><p>
  <div class="row">
    <div class="col-md-6">
      Check for typos and/or try again with a broader search.
  </p>
    </div>
  </div>
</div>
{% endblock %}
