{% extends "saftstyle.html" %}

{% block content %}
<div class="container">
  <div class="row top-buf2">
    <div class="col-md-8">
      <h2>Compound found! Would you like to refine the parameters for it?</h2>
      <p class="lead">
      We found you a result for {{ session['result_name'] }} ({{ session['result_formula'] }}).
      </p>
      <p>
      The liquid density at 0.7 * Tc has been estimated with a Rackett equation to be
      {{session['rho07']}} (mol/m<sup>3</sup>).
      </p>
      <p>
      We suggest you provide a more accurate value for this density, if available. 
      This will improve the accuracy of the result. If you give a reference to
      where this value is taken from, we will store it in our database.
      <p class="result">
      0.7 * Tc  = {{ session['Tcrit07'] }} K for {{ session['result_name'] }}.
      </p>
      </div>
    <div class="col-md-4">
    {% if session['result_img'] != "" %}
      <img src="{{ session['result_img'] }}"> 
    {% endif %} 
    </div>
  </div>
  <div class="row">
    {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 3, 6), button_map={'submit_button': 'primary'})}}
  </div>
</div>
{% endblock %}

