{% extends "saftstyle.html" %}

{% block content %}
<div class="container"> 
  <div class="row top-buf2">
    <div class="col-md-8">
      <h2>Several results found!</h2>
      <p class="lead">
      {{ session['result_restrict_status'] }} 
      </p><p>
      {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 4, 4), button_map={'submit_button': 'primary'})}}

      <br>
      {% if session['results_toomany'] %}
      <p>
      Or, you can go back and try a narrower search. Note that putting a "!" before the name will do an exact match.
      </p>
      {% endif %}
      {{ session['offer_retry']|safe }}
    </div>
  </div>
</div>
{% endblock %}
