{% extends "saftstyle.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Final results</h2>
  <div class="row">
  <div class="col-md-8">
  <p>
	<table  class="table table-striped">
		<thead>
			<tr style="text-align: right;">
				<th></th>
				<th>{{ properties.name }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>CAS</th>
				<td>{{ properties.CAS }}</td>
			</tr>
			<tr>
				<th>formula</th>
				<td>{{ properties.formula }}</td>
			</tr>
			<tr>
				<th>Molar mass (g/mol)</th>
				<td>{{ properties.mass }}</td>
			</tr>
			<tr>
				<th>Liquid density at T = 0.7 Tc (mol/m^3)</th>
				<td>{{ properties.rho07 }}</td>
			</tr>
		</tbody>
	</table> 
  </p>
  <p>
  The parameters available are shown below.
  {% if session['result_several_rows'] %}
  In this case the correlation gives sensible results for several segment
  numbers. Choosing the best one is a tradeoff. There should be roughly three 
  atoms per segment, not counting hydrogen. The topology (e.g. the length to
  breadth aspect ratio) of the coarse-grained model should match the topology
  of the original molecule.
  {% endif %}
  </p>
  <p>
  Clicking "raaSAFT script" gives you a Python implementation for simulating this
  with raaSAFT, our SAFT-&gamma; Mie framework for running MD simulations
  with HOOMD-blue (well-supported) or GROMACS (new feature). 
  See the <a href="https://bitbucket.org/asmunder/raasaft">raaSAFT webpage</a> for
  how to install and use raaSAFT.
  </p>

  </div>
  <div class="col-md-4">
    {% if session['result_img'] != "" %}
      <img src="{{ session['result_img'] }}"> 
    {% endif %} 
  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
		{% for i, p in parameters.items() %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" title="">
        <img style="background:url({{ session['result_img'] }})"
            src="static/overlay_{{p.segments}}bead.gif"/>
        <div class="caption">
          <table  class="table table-striped">
            <tbody>
              <tr>
                <th># segments</th>
                <td> {{ p.segments }} </td>
              </tr><tr>
                <th>lambda_r</th>
                <td> {{ p.lambda_a }} </td>
              </tr><tr>
                <th>lambda_a</th>
                <td> {{ p.lambda_r }} </td>
              </tr><tr>
                <th>epsilon (K)</th>
                <td> {{ p.epsilon  }} </td>
              </tr><tr>
                <th>sigma (m)</th>
                <td> {{ p.sigma    }} </td>
              </tr>
                <td> </td>
              </tr>
            </tbody>
          </table>
          <p>
          <button type="button" class="btn btn-primary" 
                  data-toggle="modal"  data-target=".raasaft{{ p.segments }}">
                  raaSAFT script </button>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}

		{% for i, p in parameters.items() %}
      <div class="modal fade raasaft{{ p.segments }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">raaSAFT implementation of this compound</h4>
            </div>
            <!-- {{ raasaft[p.segments]|replace("\n","\\\n")|safe }} -->
            <script type=text/javascript>
                $('#download{{ p.segments }}').click(function(e) {
                  e.preventDefault();
                  saveAs(
                      new Blob(['print(test)'], 
                               { type: 'text/x-python; charset=utf-8', }
                              ),
                      'raasaft_{{ p.name }}_{{ p.segments }}bead.py'
                      );
                });
            </script>
            <!--<p><a href=# id=download{{ p.segments }} class="btn btn-primary"
              role="button">Download file</a></p>-->
            <code><pre>
            {{ raasaft[p.segments] }}
            </pre></code>
            <p class="result">
            Copy the above into a file in the "mysaft" directory from raaSAFT.
            For instance, if you put it in the file {{ p.name }}.py, you can import
            and use this compound like so:
            </p>
            <code><pre>
from mysaft.{{ p.name }} import *
compound = {{ p.name }}_{{ p.segments }}bead(count=100)
            </pre></code>
            <p>
            If the molecule has a long name, feel free to abbreviate both the
            class, self.Name and the suggested filename.
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>

  </p>
  <div class="row">
  <div class="col-md-8">
  <p>
  If you use these results in a publication, please remember to cite us. See the
  theory section on the front page for a brief review. A minimal citation would
  be
  </p>
  <p class="result">
  Force field parameters were obtained using the correlation in [1], as
  implemented in the Bottled SAFT application [2].
  </p>
  <p class="result">
  <a href="http://dx.doi.org/10.1021/ie404247e">[1]</a>
  Andrés Mejía, Carmelo Herdes and Erich A. Müller, "Force Fields for
  Coarse-Grained Molecular Simulations From a Corresponding States Correlation." <i>Ind. Eng. Chem. Res.</i> <b>53.10</b> (2014). <br>
  [2] Åsmund Ervik, Andrés Mejía, and Erich A. Müller, "Bottled SAFT: a web app
  providing SAFT-&gamma; Mie force field parameters for thousands of molecular
  fluids". <i>Submitted.</i><br>
  </p>
  </div>
  </div>
  
</div>
{% endblock %}
