{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% set navigation_bar = [
  ('bottlesearch','Search the bottle'),
  ('custom','Run your own compound'),
  ('heteronuclear','Build with the blocks')
] -%}

{% block title %}Bottled SAFT: force field parameters for 6000+ molecular fluids{% endblock %}


{% block scripts %}
  {{super()}}
  <script src="//use.edgefonts.net/vollkorn;lato.js"></script>
<!-- Google Analytics, and the cookie alert, are not wanted in the review branch 
<script type="text/javascript">
    window.cookieconsent_options = {"message":"Bottled SAFT uses cookies and Python magic to function.","dismiss":"Got it!","learnMore":"","link":null,"theme":"dark-floating"};
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71478221-1', 'auto');
  ga('send', 'pageview');

</script>
-->
{% endblock %}


<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

{% block navbar %}
<div class="navbar navbar-inverse navbar-static-top">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">SAFT-&gamma; Mie, bottled</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for href, caption in navigation_bar %}
          <li{% if href == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li{% if "about" == active_page %} class="active"{% endif %}>
          <a href="about">About us</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid --> 
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<style type="text/css">
  .top-buf4 { margin-top:3%; }
  .top-buf2 { margin-top:1%; }
  .table-responsive { overflow-x: auto; }
</style>
<meta name="description" content="Find SAFT-gamma Mie force field parameters. Download models for running with HOOMD or GROMACS. Easily set up coarse grained molecular dynamics.">
<meta name="keywords" content="SAFT-gamma Mie,molecular dynamics,hoomd,raasaft,force field parameters">
{% endblock %}

{% block styles %}
  {{super()}}
	<style>
    h1,
    h2,
    h3,
    h4,
    a,
    .h1,
    .h2,
    .h3,
    .h4,
    .result,
    .form,
    .help-block {
      font-family: lato, sans-serif!important;
    }
    p,
    .lead,
		.theory,
		.theory-lead,
		.refs {
      font-family: vollkorn, serif!important;
		}
		.theory-lead,
    .lead {
   		font-size: 21px;
			font-weight: 500;
		}
		.theory,
    p {
   		font-size: 18px;
			font-weight: 400;
		}
    .form,
    .refs,
    .help-block {
   		font-size: 16px;
			font-weight: 400;
		}
	</style>
{% endblock %}
